<!-- ============================================= Modules ======================================================== -->

<!-- <router-outlet>
</router-outlet> -->


<!-- ============================================= Reactive Forms ======================================================== -->

<!-- <app-reactive-ex>
</app-reactive-ex> -->


<!-- ============================================= FormArray ======================================================== -->
<!-- <app-form-array-ex>
</app-form-array-ex> -->


<!-- ============================================= Resolver ======================================================== -->
<!-- <router-outlet>
</router-outlet> -->

<!-- ============================================= Route_Guards  ======================================================== -->
<!-- <h1>Angular 17 Route Guards Demo</h1>
<nav>
<a routerLink="/admin">Admin</a> |
<a routerLink="/user">User</a>
</nav>
<router-outlet></router-outlet> -->

<!-- =============================================  ng-template – Define Reusable Template Fragments ======================================================== -->

<!-- <ng-template  #loading>
<p>Loading data...</p>
</ng-template>
<div *ngIf="isLoading(); else content">
<ng-container *ngTemplateOutlet="loading"></ng-container>
</div>
<ng-template  #content>
<p>Data loaded successfully!</p>
</ng-template> -->

<!-- ============================================ ng-container – Logical Grouping Without Extra DOM ======================================================== -->

<!-- <button (click)="toggle()">   {{ isLoggedIn ? 'Logout' : 'Login' }} </button>
<ng-container *ngIf="isLoggedIn; else guest">
<p>Welcome back! You are logged in.</p>
</ng-container>
<ng-template #guest> <p>You are not logged in.</p> </ng-template> -->

<!-- ============================================= ng-content – Content Projection (Slots) ======================================================== -->

<!-- <h2>Using ng-content (Simple Example)</h2>
<app-card>
<h3>Welcome!</h3>
<p>This content is inserted into the card using ng-content.</p>
</app-card> -->

<!-- ============================================= SmartDumb ======================================================== -->

<!-- <app-user-container>
</app-user-container> -->

<!-- ============================================= Subject  ======================================================== -->
<!--
<h1>Example of RxJS Subject</h1>
<app-counter></app-counter> -->

<!-- ============================================= SubjectBehavior ======================================================== -->
<!--
<h1>Example of RxJS Subject</h1>
<app-counter></app-counter> -->

<!-- ============================================= 	ROUTING ======================================================== -->

<!-- <h1>Angular 17 Routing Example</h1>
    <nav>
      <a routerLink="/">Home</a> |
      <a routerLink="/about">About</a>
    </nav>
    <hr />

    <router-outlet></router-outlet> -->

<!-- =============================================  ======================================================== -->





<!-- =============================================  ======================================================== -->





<!-- =============================================  ======================================================== -->






<!-- =============================================  ======================================================== -->
